<template>
  <div class="hero h-screen">
    <div class="container mx-auto px-4">
      <!--  -->
    </div>
  </div>
</template>

<style scoped>
.hero {
  background: linear-gradient(0deg, rgba(0, 43, 77, .75), rgba(0, 63, 84, .75)), url('../assets/images/hero-background.jpg');
  background-position: center;
  background-size: cover;
}
</style>
